.task{
    background-color: rgb(206, 222, 240);
    
    margin-top:10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(53, 54, 58, 0.3);
    box-shadow: 0 0 2px rgba(42, 27, 124, 0.4);
}

.task__author{
    font-size: 16px;
}

.task__text{
    font-size: 18px;
}

.task__edit-button{
    float: right;
}
